{% extends "layout.html" %}

{% block title %}
    Browse Books
{% endblock %}

{% block main %}
    <!-- Search part -->
    <div class="input-group mb-5 container-md">
        <select name="search" class="form-select" style="max-width: 9rem; height: auto;">
            <option disabled selected hidden>Search by</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
        </select>
        <input type="search" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-addon2">
        <datalist id="datalistoptions">
            <option value="{{ title }}">
        </datalist>
        <button class="btn btn-primary" type="button" id="button-addon2"><i class="bi bi-search"></i> Search</button>
    </div>

    <!-- List of cards part -->
    <div class="d-flex flex-row flex-wrap justify-content-around align-items-center">
        {% if all_books %}
            {% for book in all_books %}
                <div class="card-deck mt-5">
                    <div class="card mb-4" style="width: 18rem; height: 36rem;" >
                        {% if book["image"] %}
                            <a href="{{ url_for('book', books_id=book.bookid, books_name=book.title) }}"><img class="card-img-top" src="../static/pictures/{{ book.userid }}/bp/{{ book['image'] }}" alt="Card image" style="height: 18rem; width: 18rem; object-fit: cover;"></a>
                        {% else %}
                            <a href="{{ url_for('book', books_id=book.bookid, books_name=book.title) }}"><img class="card-img-top" src="../static/book-circle.svg" alt="Card image" style="height: 18rem; width: 18rem; object-fit: cover; opacity: .5;"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ book["title"].title() }}</h5>
                            <p class="card-text">{{ book["author"].title() }}</p>
                            {% if book["condition"] %}
                                <p class="card-text">Condition: {{ book["condition"].title() }}</p>
                            {% endif %}
                            <a href="{{ url_for('user', username=book.username) }}"><p class="card-text">{{ book["username"] }}</p></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ book["date"] }}</small>
                        </div>
                    </div>
                </div>
        {% else %}
                <p>There is no book here.</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

<!-- TODO: -->
<!-- add for loop to option value (l-17) -->
