{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-4">
            <input size="35" autocomplete="off" autofocus class="form-control form-control-md mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-4">
            <input size="35" autocomplete="off" class="form-control form-control-md mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
