{% extends "layout.html" %}

{% block title %}
    {{ offered_name.title() }}
{% endblock %}

{% block main %}
    {% if receiver_user and receiver_user[0]["receiver"] == session["user_id"] and offerer_book and offerer_book[0]["is_available"] == 1 and offerer_book[0]["is_offered"] == 1 or offerer_user and offerer_user[0]["id"] == session["user_id"] %}
        <!-- Bredcrumbs -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" onclick="history.go(-1)">Turn Back</a></li>
                <li class="breadcrumb-item active" aria-current="page">Offered Book: {{ offered_name.title() }}</li>
            </ol>
        </nav>

        
        <div class="container-fluid mt-5 book-container">
            <div class="row">

                <!-- Show user informations -->
                <div class="col-sm-3">
                    <p class="mt-5 text-muted">User Informations</p>
                    <div class="mt-5">
                        {% if offerer_user[0]['picture'] %}
                            <img src="../static/pictures/{{ offerer_user[0]['id'] }}/pp/{{ offerer_user[0]['picture'] }}" style="width: 8rem; height: 8rem; object-fit: cover;" alt="profile picture"><br>
                        {% else %}
                            <img src="../static/person-circle.svg" style="width: 8rem; height: 8rem; opacity: .5;" alt="profile picture"><br>
                        {% endif %}
                        <a href="{{ url_for('user', username=offerer_user[0]['username']) }}">{{ offerer_user[0]['username'] }}</a>
                        <p class="mt-5">Location</p>
                        <p>Country: {{ offerer_user[0]['country'].title() }}</p>
                        <p>City: {{ offerer_user[0]['city'].title() }}</p>
                        <p class="text-muted mt-5">member since; {{ offerer_user[0]['date'] }}</p>
                    </div>
                </div>

                <!-- Show book informations -->
                <div class="col-sm-9 bg-light border border-primary-subtle border-top-0 border-bottom-0">
                    <p class="mt-5 mb-4 text-muted">{{ book_date }}</p>
                    <h4>{{ offerer_book[0]['title'].title() }} - {{ offerer_book[0]['author'].title() }} </h4>
                    {% for book_image in book_images %}
                        {% if book_image.image %}
                            <img src="../static/pictures/{{ offerer_user[0]['id'] }}/bp/{{ book_image.image }}" class="each-image" alt="book images" style="width: 10rem; height: 14rem; object-fit: cover; margin: .2rem; cursor: zoom-in;">
                        {% else %}
                            <img src="../static/book-circle.svg" class="each-image" alt="book images" style="width: 10rem; height: 14rem; object-fit: cover; margin: .2rem; opacity: .5;">
                        {% endif %}
                    {% endfor %}
                    {% if offerer_book[0]['condition'] %}
                        <p class="mt-4">Condition: {{ offerer_book[0]['condition'] }}</p>
                    {% else %}
                        <p class="mt-4">No condition information.</p>
                    {% endif %}
                    {% if offerer_book[0]['description'] %}
                        <h5 class="mt-4">Book Description</h5>
                        <p class="mb-5" style="text-align: left;">{{ offerer_book[0]['description'] }}</p>
                    {% else %}
                        <p class="mb-5">No description information.</p>
                    {% endif %}
                    
                    <!-- Buttons -->
                    {% if offerer_book[0]["is_available"] == 1 %}
                        {% if session["user_id"] == offerer_user[0]['id'] %}
                            <form action="/offered/{{ offered_id }}{{ offered_name }}" method="post">
                                <input name="offer_remove" value="{{ offered_id }}" hidden>
                                <button type="submit" class="btn btn-primary btn-lg mb-4 offer-btn" style="width: fit-content;">Remove Offer</button>
                            </form>
                        {% else %}
                            <form action="/offered/{{ offered_id }}{{ offered_name }}" method="post">
                                <input name="offer_accept" value="{{ offered_id }}" hidden>
                                <button type="submit" class="btn btn-primary btn-lg mb-4 offer-btn" style="width: fit-content;">Accept Offer</button>
                            </form>
                            <form action="/offered/{{ offered_id }}{{ offered_name }}" method="post">
                                <input name="offer_decline" value="{{ offered_id }}" hidden>
                                <button type="submit" class="btn btn-primary btn-lg mb-4 offer-btn" style="width: fit-content;">Decline Offer</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">This book is unavailable.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Modal for pictures -->
        {% for book_image in book_images %}
            {% if book_image.image %}
                <div class="book-modal image-close">
                    <p class="mt-3 text-white">Click image to close</p>
                    <img src="../static/pictures/{{ offerer_user[0]['id'] }}/bp/{{ book_image.image }}" class="img-fluid" alt="book images">
                </div>
            {% endif %}
        {% endfor %}

    {% else %}
        <script>
            // https://www.w3schools.com/jsref/met_loc_assign.asp
            window.location.assign("/unavailable");
        </script>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="../static/book.js"></script>
{% endblock %}
