{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-4">
            <input size="35" autocomplete="off" autofocus class="form-control form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            <p>(This will be asked when you want to log in.)</p>
        </div>
        <div class="mb-4">
            <input size="35" autocomplete="off" class="form-control form-control mx-auto w-auto" id="email" name="email" placeholder="E-mail" type="email" required>
        </div>
        <div class="mb-4">
            <input size="35" autocomplete="off" class="form-control form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
            <p>(Min 6, max 21 characters)</p>
        </div>
        <div class="mb-4">
            <input size="35" autocomplete="off" class="form-control form-control mx-auto w-auto" name="confirmpass" placeholder="Confirm Password" type="password" required>
        </div>
        <div class="mb-4">
            <select name="countries" class="reg-select form-control-md">
                <option selected disabled hidden>Select country</option>
                {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <input size="35" autocomplete="off" class="form-control form-control mx-auto w-auto" id="city" name="city" placeholder="City" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
