{% extends "layout.html" %}

{% block title %}
    unavailable
{% endblock %}

{% block main %}
    <p>There's nothing here.</p>
    <!-- https://pxhere.com/en/photo/140455 -->
    <img class="mb-5" src="https://c.pxhere.com/photos/b7/a4/shadows_squares_geometry_shelving_shelves_shelve_ratherminimal-140455.jpg!d" srcset="https://c.pxhere.com/photos/b7/a4/shadows_squares_geometry_shelving_shelves_shelve_ratherminimal-140455.jpg!d" alt="table, floor, geometry, shelf, furniture, bookcase, shadows, design, squares, shelves, ratherminimal, shelving, shelve, cupboard, cabinetry, Free Images In PxHere">
{% endblock %}
