{% extends "layout.html" %}

{% block title %}
    unknown
{% endblock %}

{% block main %}
    <p>There's no one here.</p>
    <!-- https://pxhere.com/tr/photo/844530 -->
    <img class="mb-5" src="https://c.pxhere.com/photos/37/94/luggage_conference_red_chairs_presentation_gala_nobody_empty-844530.jpg!d" srcset="https://c.pxhere.com/photos/37/94/luggage_conference_red_chairs_presentation_gala_nobody_empty-844530.jpg!d" alt="konferans salonu, sandalye, kırmızı, boş, mobilya, Oda, bagaj, yerler, Sandalyeler, Koltuklar, konferans, sunum, gala, kimse, sinema, konferans salonu, Fotoğraf In PxHere">
{% endblock %}
